*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
  --light: #adadad;
  --dark: #181818;
}

body{
    background-color: var(--dark);
    color: var(--light);
}

.hero{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem;
}

.header h3 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.5px;
}

.header h1{
    color: #ffffff;
}

.header p {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--light);
}

.profile-photo {
    width: 175px;  
    height: 175px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

.social-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-links a {
    color: #ffffff;
    font-size: 1.8rem;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
}

.social-links a:hover {
    color: var(--light);
    transform: translateY(-3px);
}